name: "Deploy to NuGet"

on:
  push:
    branches: [ master ]
    tags:
    - 'v[0-9]+\.[0-9]+\.[0-9]+'
    - 'v[0-9]+\.[0-9]+\.[0-9]+-beta[0-9][0-9]'
  pull_request:
    branches: [ master ]

env:
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}\output
  NUGET_SOURCE_URL: 'https://api.nuget.org/v3/index.json'

permissions:
  id-token: write
  contents: write
  statuses: write
  checks: write

jobs:
  build:
    defaults:
      run:
        working-directory: ./Artesian

    name: 'Build'
    runs-on: 'windows-2025'
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v6

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: | 
            8.x
            10.x
        global-json-file: global.json
      
    - name: 'Restore packages'
      run: dotnet restore

    - name: 'Build project'
      run: dotnet build --no-restore --configuration Debug

    - name: Test
      run: dotnet test --no-restore --configuration Debug -- --coverage --coverage-output-format cobertura --report-trx

    - name: Component detection
      uses: advanced-security/component-detection-dependency-submission-action@v0.1.1

    - name: Test Report
      uses: dorny/test-reporter@v2
      if: always()
      with:
        name: DotNET Tests
        path: "**/*.trx"                            
        reporter: dotnet-trx
        fail-on-error: true 

    - name: Create code coverage report
      if: always()
      run: |
        dotnet tool install -g dotnet-reportgenerator-globaltool
        reportgenerator -reports:**/*.cobertura.xml -targetdir:CodeCoverage -reporttypes:'MarkdownSummaryGithub;Cobertura'

    - name: Write to Job Summary
      if: always()
      run: cat CodeCoverage/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

  deploy:
    defaults:
      run:
        working-directory: ./Artesian
    name: 'Nuget Push'
    runs-on: 'windows-latest'
    needs: build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v6

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: 'Get Version'
      id: version
      uses: battila7/get-version-action@v2

    - name: 'Pack project'
      run: dotnet pack --configuration Release --include-symbols -p:Version=${{ steps.version.outputs.version-without-v }} --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}
      # --no-build somehow cannot be used due to being needed: 

    - name: 'Push package'
      run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}\*.nupkg -k ${{ secrets.NUGET_AUTH_TOKEN }} -s ${{ env.NUGET_SOURCE_URL }}
